In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define path
path='/Users/z/Documents/CF/Unit 1/4. Python Fundamentals for Data Analysts /06-2023-Instacart Basket Analysis'

In [15]:
# import dataframes
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data','orders_wrangled.csv'), index_col=False)
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data','products_cleaned_4.5.csv'), index_col=False)

In [16]:
# question 3 - Import combined DF
df_ords_comb=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [17]:
# question 4 - Check shape
df_ords_comb.shape

(32434489, 11)

In [18]:
df_prods.shape

(49693, 6)

In [19]:
# Question 7 - check for indicator
df_ords_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [20]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [25]:
df_merged_prods_ords=df_ords_comb.merge(df_prods, on = 'product_id', how='inner')

In [27]:
df_merged_prods_ords.shape

(32434212, 16)

In [28]:
# question 8 - exporting data
df_merged_prods_ords.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merged_products_orders.pkl'))