In [42]:
import pandas as pd
import numpy as np
import os

In [43]:
# define path
path='/Users/z/Documents/CF/Unit 1/4. Python Fundamentals for Data Analysts /06-2023-Instacart Basket Analysis'

In [44]:
# import dataframes
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Original Data','orders.csv'), index_col=False)
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Original Data','products.csv'), index_col=False)
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data','order_products__prior.csv'), index_col=False)

In [45]:
df_ords_prods_merge =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined.pkl'))

In [46]:
df_ords_prods_merge2 =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','merged_products_orders.pkl'))

In [47]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [48]:
df_ords_prods_merge2.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [49]:
df=df_ords_prods_merge2

In [50]:
df.shape

(32434212, 16)

In [51]:
# define function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [ ]:
# apply function

df['price_range'] = df.apply(price_label, axis=1)

In [ ]:
df['price_range'].value_counts(dropna=False)

In [ ]:
# find max
df['prices'].max()

In [ ]:
# 2nd method with loc
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
df['price_range_loc'].value_counts(dropna=False)

In [ ]:
#count values order day
df['order_dow'].value_counts(dropna=False)

In [ ]:
# finding busiest days

result = []

for value in df["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
result

In [ ]:
# combine with df
df['busiest_day']=result

In [ ]:
df['order_dow'].max

In [ ]:
df['busiest_day'].value_counts(dropna=False)

In [ ]:
#count values order day
df['order_dow'].value_counts(dropna=False)

In [ ]:
# Q2 - finding busiest days iteration

result = []

for value in df["order_dow"]:
  if value == 0 or value==1:
    result.append("Busiest days")
  elif value == 4 or value==3:
    result.append("slowest days")
  else:
    result.append("Regularly busy")

In [ ]:
# populate column
df['slow_and_busy_days']=result

In [ ]:
# Q3 - check for values
df['slow_and_busy_days'].value_counts(dropna = False)

In [ ]:
df.head()

In [ ]:
# Q4
#count values busiest time
df['order_hour_of_day'].value_counts(dropna=False)

In [ ]:
df['order_hour_of_day'].value_counts(dropna=False).quantile([0.25, 0.5, 0.75])

In [ ]:
# 4 define busiest days

resultQ4 = []

for value in df["order_hour_of_day"]:
  if value < 8233.00:
    resultQ4.append("fewest orders")
  elif value > 79780:
    resultQ4.append("Most orders")
  else:
    resultQ4.append("average orders")

In [ ]:
resultQ4

In [ ]:
df['busiest_period_of_day']=resultQ4

In [ ]:
df['busiest_period_of_day'].value_counts(dropna=False)

In [ ]:
df.head()

In [41]:
# Export data to pkl

df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Eercise_4.7_Data v2.pkl'))

In [40]:
df.shape

(32434212, 21)